.categories {
    padding: 4rem 2rem;

    @include phone {
        display: flex;
        flex-direction: column;
    }

    &__left {
        width: 75%;
        height: 100%;

        @include phone {
            width: 97%;
        }

        &--topRow {
            justify-content: space-between;

            @include phone {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

          
        }
        &--bottomRow {
            padding:  1rem 1.2rem;
            
            @include phone {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        }

    }

    &__right {
        width: 25%;
        height: 100%;
        margin-left: 2rem;

        @include phone {
            width: 90%;
            margin-top: 2rem;
        }

    }
}

.row {
    display: flex;

}



.category {
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-bottom: 1.2rem;

    &__row {
        width: 30%;

        @include phone {
            width: 100%;
            margin: 2rem 0;
        }

    }

    &__col {
        width: 100%;
    }
    
    &__img--container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: #000;
    }


    &__img{
        width: 100%;
        height: 100%;
        // opacity: .2rem;
    }

    &__text {
        z-index: 999;
        position: relative;
        padding: .5rem 1.2rem 1.2rem 1.2rem;
        text-align: center;

    }

    &__title {
  
        font-size: 1.7rem;
        
        &--orange {
            color: orange
        }
    }

    &__description {
        color: white;
    }

    &__rating {
        margin-bottom: 2rem;
    }

    &__icon{
        color: orange;
        margin-bottom: 1.2rem;
    }

    &__link {
        margin-bottom: 1.2rem;
    }


}

.bottom--img {
    width: 40%;
    height: 400px;
    margin-right: 2rem;
    opacity: .5rem;
    overflow: hidden;

    @include phone {
        width: 80%;
    }

}

.category__content--text {
    width: 60%;

    @include phone {
        width: 80%;
    }
}