.header {
    background-image: linear-gradient(rgba(201, 99, 16, 0.349),rgba(202, 100, 17, 0.288)), url("../images/header-back.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;

    &__hero_content {
        width: 50%;
        text-align: center;
        padding: 1rem 0;
        margin: 0 auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__title {
        font-size: 3rem;
        color:#fff;  

        @include phone {
            margin: 6rem 0 0 0;
        }
    }

    &__description {
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 2.2rem;
    }


}